[Container]
ContainerName=WatchArrQuadlet
Image=ghcr.io/sbondco/watcharr:latest

PublishPort=7000:3080

Environment=TZ=Europe/Amsterdam

Mount=type=bind,src=/home/joyoung/Watcharr/data,destination=/data

AutoUpdate=registry

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
