[Container]
ContainerName=KavitaQuadlet
Image=docker.io/jvmilazz0/kavita:latest

PublishPort=6969:5000

Environment=TZ=Europe/Amsterdam

Mount=type=bind,src=/home/joyoung/Documents/Mangas,destination=/manga
Mount=type=bind,src=/home/joyoung/Documents/Mangas,destination=/comics
Mount=type=bind,src=/home/joyoung/Kavita,destination=/kavita/config

AutoUpdate=registry

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
